.page {
    display: grid;

    grid-template-areas: 'nav nav db'
    'menu card card'
    'menu card card';
}

.nav {
    grid-area: nav;
}
.db {
    grid-area: db;
}
.menu {
    grid-area: menu;
}
.card {
    grid-area: card;
}