<div class="card position-card">
    <form>
        <label for="name" class="fieldLabel">Наименование должности</label>
        <p><input id="name" type="text" class="input"
                  ng-model="$ctrl.data.name" required></p>

        <label for="salary" class="fieldLabel">Базовый оклад</label>
        <p><input id="salary" type="text" class="input" ng-change="$ctrl.$onSalaryChanged()"
                  ng-model="$ctrl.data.salary" required></p>

        <input type="submit" ng-click="$ctrl.save()" close-card="{{$ctrl.closing}}"
               value="Сохранить" class="save">
    </form>
</div>