<ul class="list">
    <li class="position" ng-repeat="position in $ctrl.data | filter: $ctrl.search.name | orderBy:'name'">
        <pencil></pencil>
        <div class="entity">
            <input id="{{position.name}}" type="radio" ng-model="data.checked" class="radio"
                   change-entity="{{position}}" mode="position" data="{{$ctrl.data}}"
                   value="{{position}}" name="positions">
            <label for="{{position.name}}">{{position.name}}</label>
        </div>
    </li>
</ul>