.save{
    margin-top: 15px;
}
.input {
    width: 300px;
    background-color: white;
    height: 20px;
    font-size: 16px;
    border: 1px solid black;
}
.search-select span{
    padding: 1px;
}
.button__drop-down {
    height: 21px;
    float: right;
}
.card-container {
    z-index: 1;
    position: relative;
}
.drop-down__list{
    background-color: white;
    width: 301px;
    margin-left: -1px;
    z-index: 9999;
    border: 1px solid gray;
    padding-top: 5px;
    border-top: none;
    position: absolute;
}
.employee-card__department {
    font-size: 20px;
}