
<div class="nav-container">
    <division-menu ng-click="$ctrl.menuClicked()"></division-menu>
    <division-list data="{{$ctrl.data}}"
                   class="{{$ctrl.divisionClass}}"
                   ng-click="$ctrl.hide()"></division-list>
</div>
<div class="db-container">
    <db on-load="$ctrl.getTestData()" on-clear="$ctrl.clearDB()" class="db"></db>
</div>
<div id="content-container" class="content-container">
    <div class="list-container" id="content">
        <div loading="{{$ctrl.loading}}" ></div>
    </div>
    <div class="card-container">
        <div id="card"></div>
    </div>
</div>
