<div class="card department-card">
    <form>
        <label for="name" class="fieldLabel">Наименование отдела</label>
        <p><input id="name" type="text" class="name"
                  ng-model="$ctrl.data.name" required></p>

        <label for="parent" class="fieldLabel">Вышестоящий отдел</label>
        <p><search-select id="parent" class-name="parent" options="$ctrl.departments"
                          selected="{{$ctrl.data.parent}}"
                          on-selected-change="$ctrl.handleSelectedChange(text, 'parent')"></search-select>

        <input type="submit" ng-click="$ctrl.save()" close-card="{{$ctrl.closing}}"
               value="Сохранить">
    </form>
</div>