<div class="card department-card">
    <form>
        <label for="name" class="fieldLabel">Наименование отдела</label>
        <p><input id="name" class="input" type="text"
                  ng-model="$ctrl.data.name" required></p>

        <label for="parent" class="fieldLabel">Вышестоящий отдел</label>
        <p><search-select selected="{{$ctrl.data.parent}}" options="$ctrl.departments"
                          on-selected-change="$ctrl.handleSelectedChange(text)"
                          id="parent" class-name="parent"></search-select>

        <input type="submit" ng-click="$ctrl.save()" close-card="{{$ctrl.closing}}"
               value="Сохранить" class="save">
    </form>
</div>