<div ng-repeat="employee in $ctrl.entities |
     filter: $ctrl.search.name |
     orderBy:['department', 'name'] |
     groupBy: 'department'"
     class="list list__employee">
    <label ng-show="employee.department_CHANGED" class="employee-card__department">{{employee.department}}</label>
    <ul class="list"><li>
        <pencil></pencil>
        <div class="entity">
            <input id="{{employee.phone}}" type="radio" ng-model="data.checked"
                   change-entity="{{employee}}" mode="employee" data="{{$ctrl.data}}"
                   value="{{employee}}" name="employees" class="radio">
            <label for="{{employee.phone}}">{{employee.name}}</label>
        </div>
    </li></ul>
</div>