<div ng-repeat="employee in employees | filter:search.text | orderBy:['department', 'text'] | groupBy: 'department'">
    <label ng-show="employee.department_CHANGED">{{employee.department}}</label>
    <ul>
        <li>
            <input id="{{employee}}" type="radio" ng-change="changingNeeded(employee.text)"
                   ng-model="data.checked"
                   value="{{employee.text}}">
            <label for="{{employee}}">{{employee.text}}</label>
        </li>
    </ul>
</div>

<div ng-include="getCardToChange()"></div>