.nav {
  display: inline-block;
  padding: 10px 15px;
  border: solid 1px black;
  background-color: whitesmoke;
}
.radio {
  display: none;
}
.nav__radio:checked + .nav {
  font-weight: bold;
}
.nav:hover {
  font-weight: bold;
}
.nav__text {
  font-size: 18px;
  border: none;
  cursor: pointer;
}