.nav {
  display: inline-block;
  padding: 10px 15px;
  border: solid 1px black;
}

.radio {
  display: none; }

.nav__radio:checked + .nav {
  margin-top: 5px;
  font-weight: bold; }

.nav:hover {
  font-weight: bold; }

.nav__text {
  font-size: 18px;
  border: none;
  cursor: pointer;
}